<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>967249823213-sm7c8ng0qhstrf902p7gs9mdd3jsgobq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967249823213-sm7c8ng0qhstrf902p7gs9mdd3jsgobq</string>
	<key>API_KEY</key>
	<string>AIzaSyCdkyRYfQZa-k0LEdQ7jMLge8s8Xi8zfp4</string>
	<key>GCM_SENDER_ID</key>
	<string>967249823213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>photo.Sharing.App</string>
	<key>PROJECT_ID</key>
	<string>lxksoburaphotosharing</string>
	<key>STORAGE_BUCKET</key>
	<string>lxksoburaphotosharing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:967249823213:ios:7d07f9725440d1a7</string>
	<key>DATABASE_URL</key>
	<string>https://lxksoburaphotosharing.firebaseio.com</string>
</dict>
</plist>